.btn:hover{
    background-color: rgb(2, 45, 61);
    color: white;
}
.btn{
    color: white;
    margin: 5px;
}
.logo{
    height: 9%;
    width: 4%;
}
@media only screen  and (min-device-width:200px) and (max-device-width:1200px){
    .logo{
        height: 15%;
        width: 10%;
    }
}

.barra{
    background-color: red;
    color: red;
}

body{
    background-color: bisque;
}

.bg-dark{
    background-color: #1b1c1c !important;
}
a{
    color: white !important;
}